<p id="notice"><%= notice %></p>

<h1>Item Organizings</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Color</th>
      <th>Season</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_organizings.each do |item_organizing| %>
      <tr>
        <td><%= item_organizing.item %></td>
        <td><%= item_organizing.color %></td>
        <td><%= item_organizing.season %></td>
        <td><%= link_to 'Show', item_organizing %></td>
        <td><%= link_to 'Edit', edit_item_organizing_path(item_organizing) %></td>
        <td><%= link_to 'Destroy', item_organizing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item Organizing', new_item_organizing_path %>
