<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item_organizing.item %>
</p>
<div style="width:400px; height:auto">
 <%=  link_to image_tag(@item_organizing.image, style:'width:100%'), item_organizings_path %>
 </div>


<p>
  <strong>Color:</strong>
  <%= @item_organizing.color %>
</p>

<p>
  <strong>Season:</strong>
  <%= @item_organizing.season %>
</p>

<%= link_to 'Edit', edit_item_organizing_path(@item_organizing) %> |
<%= link_to 'Back', item_organizings_path %>
